<a href="https://colab.research.google.com/github/SweetornotspicyMarathon/Learning-ALG101-too-weak-to-leetcode-Note-main/blob/main/Unit7_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1008 幾個水桶

In [ ]:
#第一個版本
import sys

M=int(input()) # 多少公升的水

def CountBucket(M):

  Water=M
  if Water<=2:
    return 1

  else:
    Bucket=0
    while Water>0:

      for i in range(31):       
        if Water<2**i:          
          tmp=2**(i-1)
          break
        else:
          continue  
          
      Water =Water-tmp  
      Bucket+=1

    return Bucket
   
print(CountBucket(M))

20
2

In [ ]:
#第二個版本
import sys

M=int(input()) # 多少公升的水

def CountBucket(M):

  Water=M
  if Water<=2:
    return 1

  else:
    Bucket=0
    tmp=0
    while Water>0:

      for i in range(31):       
        if Water<2**i:          
          tmp=2**(i-1)
          break
        else:
          continue  
          
      Water =Water-tmp  
      Bucket+=1

    return Bucket
   
print(CountBucket(M))

20
2

In [ ]:
#第三個版本
import sys

M=int(input()) # 多少公升的水

def CountBucket(M):

  Water=M
  if Water<=2:
    return 1

  else:
    Bucket=0
    tmp=0
    while Water>0:

      for i in range(32):       
        if Water<2**i:          
          tmp=2**(i-1)
          break
        else:
          continue  
          
      Water =Water-tmp  
      Bucket+=1

    return Bucket
   
print(CountBucket(M))

20
2

In [ ]:
# 1018 幾個水桶
import sys

M=int(input()) # 多少公升的水

def CountBucket(M):
  Count=0
  Bucket=0
  Water=M
  
  if Water<=2:
    return 1
 
  else:

    while M>0:
      Water=M
      while Water>1:

        Water=int(Water/2)    
        Count+=1

      M=M-2**Count 
      Bucket+=1 
      Count=0
   
    return Bucket
print(CountBucket(M))

20
2

In [ ]:
#第五個版本
water=int(input())
bucket=0
while water!=0:
  if water%2!=0:
    bucket+=1
  water=int(water/2)
print(bucket)

20
2

# 1009 倒著念

In [ ]:
S = str(input())

for i in range(len(S)):
  print(S[len(S)-i-1],end='')

abc
cba

# 1013 搭電梯

In [ ]:
N= int(input()) 

def howmany(N):
  arr=[0,1,1,2]
  for i in range(4,21):
    arr.append(arr[i-1]+arr[i-2]) 
  print(arr[N])

howmany(N)

20
6765

# 1014 不九人世

In [30]:
N =str(input())

def NoNine(N):
  print(int(N,9)) 
  
NoNine(N)

100
81

# 1016 不合群的人

In [46]:
# V1
N=int (input())

def outgroup(N):
  arr=[]
  Count_A=0
  Count_B=0
  A=[]
  B=[]
  for i in range(N):
    tmp=str(input())
    arr.append(tmp)

    if tmp=='A':
      Count_A+=1
      A.append(str(i+1))
    else:
      Count_B+=1
      B.append(str(i+1))

  if N==1:
    print("PEACE") 
  elif Count_A==Count_B :
    print("PEACE")
  elif Count_A==N :
     print("PEACE")
  elif Count_B==N :
     print("PEACE")   
  elif Count_A> Count_B:
    for j in range(len(B)):
      print(B[j])
  else:
    for j in range(len(A)):
      print(A[j])    

outgroup(N)

6
A
A
A
B
B
B
PEACE

In [47]:
# V2
N=int (input())

def outgroup(N):
  arr=[]
  Count_A=0
  Count_B=0
  A=[]
  B=[]
  for i in range(N):
    tmp=str(input())
    arr.append(tmp)

    if tmp=='A':
      Count_A+=1
      A.append(str(i+1))
    else:
      Count_B+=1
      B.append(str(i+1))

  if N==1 or Count_A==Count_B or Count_A==N or Count_B==N:
    print("PEACE") 
   
  elif Count_A> Count_B:
    for j in range(len(B)):
      print(B[j])
  else:
    for j in range(len(A)):
      print(A[j])    

outgroup(N)

5
A
A
A
B
B
4
5

In [89]:
# V3
N=int (input())

def outgroup(N):
  arr=[]
  Count_A=0
  Count_B=0
  A=[]
  B=[]
  for i in range(N):
    arr.append(str(input()))

    if arr[i]=='A':
      Count_A+=1
      
  Count_B=N-Count_A

  if N==1 or Count_A==Count_B or Count_A==N or Count_B==N:
    print("PEACE") 
   
  else:
    wholose= "A" if Count_A<Count_B else "B"
    
    for j in range(N):
      if (wholose==arr[j]):
        print(j+1)
   
outgroup(N)

3
A
A
B
B
3